*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 80vh;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar h1 {
  font-size: 2rem;
}

.links a {
  font-size: 1.1rem;
  color: #0d63e6;
  border-right: 2px black solid;
  padding: 0 10px;
}

.links a:last-child {
  border-right: none;
}

.home {
  min-height: inherit;
  padding: 1rem;
}

.home h2 {
  margin-bottom: 15px;
}

.home p {
  margin: 30px 0;
  text-align: justify;
}

.quote {
  min-height: inherit;
  max-width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.quote p {
  font-size: 1.3rem;
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 4.5rem);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(216, 216, 216, 0.75);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.55);
  color: #f4f4f4;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.span-two {
  grid-column: span 2;
}

.calculator-grid > .bg-secondary {
  background-color: coral;
}
